<div>
  <p>Nombre del empleado: {{ name }}</p>
  <hr>
  <p>Edad del empleado: {{ age }}</p>
  <hr>
  <p>Email del empleado: {{ email }}</p>
  <hr>
  <p>Salario del empleado: {{ latestSalarys() }}</p>
  <hr>
  <p>Estado actual: {{ isActive() }}</p>
</div>

<table border="1">
  <tr>
    <td>Sueldos</td>
  </tr>
  <tr *ngFor="let salary of salary">
    <td>{{salary}}</td>
  </tr>
</table>

<p *ngIf="age>=18; else menor">Es mayor de edad.</p>
<ng-template #menor><p>Es un menor de edad.</p></ng-template>

<button (click)="increment()">Sumar 1</button>
<button (click)="decrement()">Restar 1</button>

<p> Contador = {{ counter }}</p>

<input type="text" [(ngModel)]="name">
<p>{{ name }}</p>


<app-empleados></app-empleados>
